$primary-color: #f2994a;

body {
    font-family: 'Josefin Sans', sans-serif;
}

a.navbar-link {
    color: white;
}
div.top-nav, div.bottom-nav {
    background-color: $primary-color;
    color: white;
    height: 60px;
}
div.top-nav {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    line-height: 60px;
}
div.bottom-nav {

}
img.calendar, img.chef, img.list {
    height: 40px;
    margin-bottom: -4px;
}
div.content {
    height: 100%;
    padding: 80px 0;
    position: absolute;
    top: 0;
    width: 100%;
    div.container {
        height: 100%;
        div.row {
            height: 100%;
        }
    }
}

/* Calendar page */
table {
    width: 100%;
}
th, td {
    border: 1px solid #f7c192;
    height: 60px;
    text-align: center;
    width: 1 / 7 * 100%;
}
td:hover {
    background-color: $primary-color;
}
div.date {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Recipes page */
.recipe-category {
    margin: 10px 0;
}
div.recipe {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
div#view-recipe {
    overflow-y: scroll;
    h4 {
        margin-top: 15px;
    }
}

/* Pantry page */
div.container.add-ingredients {
    form div.row {
        div.inline-field {
            padding: 0 5px;
            margin-top: 10px;
        }
    }
}
