$primary-color: #f2994a;
$primary-color-light: #f7c191;
$primary-color-dark: #df7210;
$black-light: #555;

body {
    font-family: 'Josefin Sans', sans-serif;
}
button, input, select, .tooltip {
    font: inherit;
}
input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
    border-color: $primary-color;
}
input.add-ingredients[type=text], input.add-ingredients[type=number] {
    line-height: 1.5;
}
select.add-ingredients.form-control {
    height: 42px !important;
}
a {
    color: black;
    &:hover, &:focus {
        color: black;
        text-decoration: none;
    }
}
.popover-title, .popover-content {
    font-family: 'Josefin Sans', sans-serif;
    ul {
        padding-left: 11px;
        margin-bottom: 0;
    }
}
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        background-color: $primary-color-dark;
        border-color: $primary-color-dark;
    }
}

/* Navigation bars and Sidebar */
#sidebar {
    background-color: rgba(247,193,145,0.9);
    height: 100vh;
    left: -300px;
    position: fixed;
    width: 300px;
    z-index: 1032;
    a {
        color: white;
        display: block;
        height: 60px;
        padding-left: 20px;
        img {
            position: relative;
            top: -4px;
        }
        span {
            font-size: 20px;
            line-height: 60px;
            padding-left: 10px;
        }
    }
}
#black-cover {
    background-color: rgba(0,0,0,0.5);
    display: none;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 1031;
}
a.navbar-link {
    color: white;
    &.selected {
        background-color: #f7c192;
    }
}
div.top-nav {
    background-color: $primary-color;
    color: white;
    height: 60px;
}
div.top-nav {
    .text-center {
        font-family: 'Lobster', cursive;
        font-size: 20px;
    }
    .middle {
        line-height: 60px;
    }
    div.container div.row {
        position: relative;
        div#sort_or_down {
            left: 15px;
            position: absolute;
        }
        div#menu {
            cursor: pointer;
            left: 15px;
            position: absolute;
            top: 5px;
        }
        a.text-right.navbar-link {
            position: absolute;
            right: 15px;
        }
    }
}
img.icon {
    height: 32px;
    &.in-nav {
        margin-top: 4px;
    }
}
div.content {
    padding: 80px 0;
}
div.container.search img {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 26px;
}

/* Add page */
div.tab {
    cursor: pointer;
}
.tab-item {
    display: none;
}

/* Calendar page */
div.recipes.container {
    height: 100%;
    div.row {
        height: 100%;
    }
}
div#dates {
    div#calendar-header {
        position: relative;
        img.month-arrow {
            cursor: pointer;
            position: absolute;
            top: 0;
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
    }
    table {
        width: 100%;
        th, td {
            border: 1px solid #f7c192;
            height: 60px;
            text-align: center;
            width: 1 / 7 * 100%;
        }
        td.valid:hover {
            background-color: $primary-color;
            cursor: pointer;
        }
    }
}
div#mealplan {
    h5 {
        background-color: $primary-color-light;
    }
    .meal-row {
        overflow: hidden;
        position: relative;
        img {
            cursor: pointer;
            position: absolute;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            &.delete {
                right: -65px;
                top: 0;
            }
            &.edit {
                right: -25px;
                top: 6px;
            }
        }
        &:hover img {
            &.delete {
                right: 0;
            }
            &.edit {
                right: 40px;
            }
        }
    }
    div.mealType {
        border-right: 1px solid $black-light;
        display: inline-block;
        font-weight: bold;
        line-height: 40px;
        padding-right: 10px;
        text-align: right;
        width: 100px;
    }
    a.meal {
        color: $black-light;
        padding-left: 4px;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* Add Page */
div.input-delete {
    cursor: pointer;
}
img#add {
    cursor: pointer;
}

/* Recipes page */
.recipe {
    cursor: pointer;
    display: inline-block;
    height: 255px;
    margin-right: -4px;
    padding: 10px;
    vertical-align: top;
    width: 1/3 * 100%;
    &:hover {
        border: 1px solid black;
        border-color: $primary-color;
        border-radius: 0.25rem;
        padding: 9px;
    }
    .image {
        display: block;
        height: 200px;
        margin-bottom: 5px;
        overflow: hidden;
        img {
            min-height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}

/* View recipe */
.ingredient-indicator {
    position: absolute;
    &.checkmark {
        left: 10px;
    }
    &.cross {
        left: 5px;
        margin-top: -5px;
    }
    &.alert-icon {
        left: 10px;
    }
}
#cross-label {
    position: relative;
    right: -4px;
    top: -2px;
}

/* Pantry page */
div.container.pantry {
    div.category {
        border-right: 1px solid black;
        &:nth-child(3n) {
            border-right: none;
        }
        h5 {
            background-color: $primary-color-light;
            padding: 8px;
        }
        div.ingredient {
            height: 48px;
            overflow: hidden;
            position: relative;
            div.name, div.info, div.edit-icons {
                position: absolute;
            }
            div.name {
                font-weight: bold;
                left: 15px;
            }
            div.info {
                height: 48px;
                right: -60px;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
                div.edit-icons {
                    cursor: pointer;
                    left: 10px;
                    position: relative;
                    top: -14px;
                }
            }
            &:hover div.info {
                right: 15px;
            }
        }
        .pantry-indicator {
            background-color: red;
            cursor: pointer;
            height: 25px;
            line-height: 28px;
            position: absolute;
            right: 21px;
            top: 7px;
            transition: 0.2s;
            width: 25px;
            &:hover {
                background-color: #b30000;
            }
        }
    }
}
.share-circle {
    &:first-child {
        background-color: #4af299;
    }
    &:nth-child(2) {
        background-color: #994af2;
    }
    &:nth-child(3) {
        background-color: #f2ed4a;
    }
    &:nth-child(4) {
        background-color: #4aa3f2;
    }
    margin-left: 10px;
    margin-top: 1px;
    display: inline-block;
    height: 35px;
    line-height: 40px;
    width: 35px;
}

/* Add page */
.add-cross {
    position: relative;
    top: -11px;
}
div.container.add-ingredients {
    position: relative;
    img#add {
        position: absolute;
        right: 15px;
        top: -15px;
        width: 62px;
    }
}
div.add.name {
    margin-bottom: 30px;
    margin-top: 30px;
    input {
        font-size: 30px;
    }
}
label.upload {
    cursor: pointer;
    margin-top: 20px;
    img {
        width: 40px;
    }
}
input.ingredient, textarea.direction {
    display: inline-block;
    padding-right: 35px;
}
textarea.direction {
    font: inherit;
    vertical-align: top;
}
li.add {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
div.add-button {
    position: absolute;
    right: 9px;
    top: -14px;
    width: 48px;
    &:hover {
        cursor: pointer;
    }
}
div.delete {
    right: -5px;
    position: absolute;
    top: -5px;
    width: 48px;
    &:hover {
        cursor: pointer;
    }
}
button.submit {
    background-color: white;
    border: 1px solid $primary-color;
    color: $primary-color;
    margin-top: 30px;
    &:hover {
        background-color: $primary-color;
        color: white;
        cursor: pointer;
    }
}
