{% extends "base.html" %}

{% block content %}
<h3 class="text-center">Add Ingredients</h3>
<div class="container add-ingredients">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-6 col-lg-4 inline-field">
                    <input class="form-control" type="text" name="ingredients[]" placeholder="Enter ingredient">
                </div>
                <div class="col-3 col-lg-2 inline-field">
                    <input class="form-control" type="number" name="ingredients[]" placeholder="Quantity">
                </div>
                <div class="col-3 col-lg-2 inline-field">
                    <select class="form-control">
                        <option>ounces</option>
                        <option>cups</option>
                        <option>quarts</option>
                        <option>gallons</option>
                        <option>pounds</option>
                        <option>grams</option>
                        <option>kilograms</option>
                    </select>
                </div>
                <div class="col-6 col-lg-2 inline-field">
                    <input class="form-control" type="date" name="dates[]">
                </div>
                <div class="col-6 col-lg-2 inline-field">
                    <input class="form-control" type="date" name="dates[]">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}
