{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate">
        <title>{{ page_title }}CookSmart</title>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="top-nav fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-4 middle" id="sort_or_down">
                    {% if calendar_selected %}
                        <img class="icon in-nav hidden-md-up" src="{% static 'icons/down_arrow.svg' %}">
                    {% elif recipes_selected or pantry_selected %}
                        <img class="icon in-nav" src="{% static 'icons/down_up.svg' %}">
                    {% endif %}
                    </div>
                    <a href="{% url 'calendar' %}" class="col-4 text-center middle navbar-link">
                        <div>CookSmart</div>
                    </a>
                    {% if calendar_selected %}
                        <a href="{% url 'calendar_add' %}" class="col-4 text-right navbar-link">
                            <img class="icon in-nav" src="{% static 'icons/plus_white.svg' %}">
                            <div>Add Meal</div>
                        </a>
                    {% elif recipes_selected %}
                        <a href="{% url 'recipes_add' %}" class="col-4 text-right navbar-link">
                            <img class="icon in-nav" src="{% static 'icons/plus_white.svg' %}">
                            <div>Add Recipe</div>
                        </a>
                    {% elif pantry_selected %}
                        <a href="{% url 'pantry_add' %}" class="col-4 text-right navbar-link">
                            <img class="icon in-nav" src="{% static 'icons/plus_white.svg' %}">
                            <div>Add Ingredient</div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="content">
        {% block content %}{% endblock content %}
        </div>
        <div class="bottom-nav fixed-bottom">
            <div class="container">
                <div class="row">
                    <a href="{% url 'calendar' %}" class="col-4 text-center navbar-link {{calendar_selected}}">
                        <img class="icon in-nav" src="{% static 'icons/calendar.svg' %}">
                        <div>Calendar</div>
                    </a>
                    <a href="{% url 'recipes' %}" class="col-4 text-center navbar-link {{recipes_selected}}">
                        <img class="icon in-nav" src="{% static 'icons/chef.svg' %}">
                        <div>Recipes</div>
                    </a>
                    <a href="{% url 'pantry' %}" class="col-4 text-center navbar-link {{pantry_selected}}">
                        <img class="icon in-nav" src="{% static 'icons/list.svg' %}">
                        <div>Pantry</div>
                    </a>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="{% static 'script.js' %}"></script>
        {% block script %}{% endblock script %}
    </body>
</html>
