{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate">
        <title>{{ page_title }}CookSmart</title>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Lobster" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="sidebar">
            <a href="{% url 'calendar' %}">
                <img class="icon" src="{% static 'icons/calendar.svg' %}">
                <span>Calendar</span>
            </a>
            <a href="{% url 'recipes' %}">
                <img class="icon" src="{% static 'icons/chef.svg' %}">
                <span>Recipes</span>
            </a>
            <a href="{% url 'pantry' %}">
                <img class="icon" src="{% static 'icons/list.svg' %}">
                <span>Pantry</span>
            </a>
            <a href="{% url 'add' %}#add-{{ addtype }}">
                <img class="icon" src="{% static 'icons/plus_white.svg' %}">
                <span>Add</span>
            </a>
        </div>
        <div id="black-cover"></div>
        <div class="top-nav fixed-top">
            <div class="container">
                <div class="row">
                    {% comment %}
                        <img class="icon in-nav" src="{% static 'icons/down_up.svg' %}">
                    {% endcomment %}
                    <div id="menu">
                        <img width="50px" src="{% static 'icons/menu.svg' %}">
                    </div>
                    <a href="{% url 'calendar' %}" class="push-4 col-4 text-center middle navbar-link">
                        <div>CookSmart</div>
                    </a>
                {% if page_title != 'Add | ' %}
                    <a href="{% url 'add' %}#add-{{ addtype }}" class="text-right navbar-link">
                        <img class="icon in-nav" src="{% static 'icons/plus_white.svg' %}">
                        <div>Add {{ addtype|title }}</div>
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container search">
                <div class="row">
                {% if page_title == 'All Recipes | ' %}
                    <div class="col-6 push-3">
                        <input type="text" name="search" class="form-control" placeholder="{{ placeholder }}">
                        <img src="{% static 'icons/search.svg' %}">
                    </div>
                {% elif page_title == 'Pantry | ' %}
                    <div class="col-6">
                        <input type="text" name="search" class="form-control" placeholder="{{ placeholder }}">
                        <img src="{% static 'icons/search.svg' %}">
                    </div>
                    <div class="col-1">
                        <button data-toggle="modal" data-target="#shareModal" class="btn submit mt-0">Share</button>
                    </div>
                    <div class="col-5 text-right">
                        <div class="rounded-circle text-center share-circle" data-toggle="tooltip" data-placement="bottom" title="Yash Shah">Y</div>
                        <div class="rounded-circle text-center share-circle" data-toggle="tooltip" data-placement="bottom" title="Timothy Sivaraman">T</div>
                        <div class="rounded-circle text-center share-circle" data-toggle="tooltip" data-placement="bottom" title="Kevin Nam">K</div>
                        <div class="rounded-circle text-center share-circle" data-toggle="tooltip" data-placement="bottom" title="Nikita Shah">N</div>
                    </div>
                {% endif %}
                </div>
            </div>
        {% block content %}{% endblock content %}
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script type="text/javascript">
        $(document).ready(function() {

            $('#menu').click(function() {
                $('#black-cover').fadeIn();
                $("#sidebar").animate({left: '0'});
            });

            $('#black-cover').click(function() {
                $('#black-cover').fadeOut();
                $("#sidebar").animate({left: '-300px'});
            });

        });
        </script>
        {% block script %}{% endblock script %}
    </body>
</html>
