{% load static %}
<div id="calendar-header" class="text-center">
    <img class="icon month-arrow left" src="{% static 'icons/left_arrow.svg' %}" data-ym="{{ prev }}">
    <h4 style="line-height:32px;">{{ month_year }}</h4>
    <img class="icon month-arrow right" src="{% static 'icons/right_arrow.svg' %}" data-ym="{{ next }}">
</div>
<table>
    <thead>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
    </thead>
    <tbody>
    {% for row in days %}
        <tr>
        {% for day in row %}
        {% if day == 0 %}
            <td></td>
        {% else %}
            <td class="valid">{{ day }}</td>
        {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
