{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <table>
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in days %}
                    <tr>
                    {% for day in row %}
                    {% if day == 0 %}
                        <td></td>
                    {% else %}
                        <td>{{ day }}</td>
                    {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
        {% for d in dates %}
            <div class="date">{{ d }}</div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
