{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6" id="dates">
        </div>
        <div class="col-6" id="mealplan">
        {% include "view_mealplan.html" %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {

    $('#dates').load("{% url 'calendar-dates' %}", {'ym': '2017-04'});

    $('#dates').on('click', 'button', function() {
        var data = {'ym': $(this).data('ym')};
        $('#dates').load("{% url 'calendar-dates' %}", data);
    });

});
</script>
{% endblock script %}
