{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" id="dates"></div>
        <div class="col-md-6" id="mealplan">
        {% include "calendar_mealplan.html" %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {

    $('#dates').load("{% url 'calendar-dates' %}", {'ym': '2017-04'});

    $('#dates').on('click', 'img', function() {
        var data = {'ym': $(this).data('ym')};
        $('#dates').load("{% url 'calendar-dates' %}", data);
    });

    var toggled = false;
    $('#sort_or_down').click(function() {
        $("#dates").slideToggle();
        if (toggled) {
            toggled = false;
            $('#sort_or_down img').css({'transform': 'rotate(0deg)'});
        } else {
            toggled = true;
            $('#sort_or_down img').css({'transform': 'rotate(180deg)'});
        }
    });

});
</script>
{% endblock script %}
