{% extends "base.html" %}

{% block content %}
<div class="container pantry mt-4">
    <div class="row">
    {% for category, items in ingredients.items %}
        <div class="col-4 category">
            <h5 class="category">{{ category }}
            {% if forloop.counter|divisibleby:2 %}
                <div class="rounded-circle text-center pantry-indicator" data-toggle="popover" title="Ingredient Warnings" data-content="<ul><li>Eggs are running low</li><li>Tomatoes are expiring in two days</li></ul>" data-html="true">2</div>
            {% endif %}
            </h5>
        {% for item in items %}
            <div class="ingredient d-flex align-items-center mb-3">
                <div class="name">{{ item.IngredientName }}</div>
                <div class="info text-right">
                    <div>{{ item.IngredientAmount }} {{ item.IngredientUnit }} left</div>
                    <div>{{ item.DaysLeft }} days left</div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

});
</script>
{% endblock script %}
