{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container add-ingredients">
    <h3 class="text-center">Add Ingredients</h3>
    <img id="add" src="{% static 'icons/plus_black.svg' %}">
    <form action="{% url 'pantry' %}" method="post">
        <div id="inputs">
            <div class="row">
                <div class="col-5 inline-field">Name</div>
                <div class="col-2 inline-field">Expiration Date</div>
                <div class="col-2 inline-field">Quantity</div>
                <div class="col-2 inline-field">Unit</div>
            </div>
            <div class="row">
                <div class="col-5 inline-field">
                    <input class="form-control add-ingredients" type="text" name="ingredients[]" placeholder="Enter ingredient">
                </div>
                <div class="col-2 inline-field">
                    <input class="form-control add-ingredients" type="date" name="dates[]">
                </div>
                <div class="col-2 inline-field">
                    <input class="form-control add-ingredients" type="number" name="quantities[]" placeholder="Quantity">
                </div>
                <div class="col-2 inline-field">
                    <select class="form-control add-ingredients" name="units[]">
                        <option></option>
                        <option>ounces</option>
                        <option>cups</option>
                        <option>quarts</option>
                        <option>gallons</option>
                        <option>pounds</option>
                        <option>grams</option>
                        <option>kilograms</option>
                    </select>
                </div>
                <div class="col-1">
                    <img src="{% static 'icons/cross.svg' %}">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {

    $('img#add').click(function() {
        var row = $('div#inputs .row').last().clone();
        row.find('input').val('');
        row.appendTo('div#inputs');
    });

});
</script>
{% endblock script %}
