{% extends "base.html" %}

{% block content %}
<div class="recipes container">
    <div class="row">
        <div class="col-6">
        {% for mealType, recipes in mealTypes %}
            <h3 class="recipe-category">{{ mealType }}</h3>
            {% for recipe in recipes %}
                <div class="recipe">
                    <div class="name">{{ recipe.RecipeName }}</div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        <div class="col-6" id="view-recipe">
        {% include "recipes_view.html" %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {

    $('.recipe .name').click(function() {
        var data = {'name': $(this).text()};
        history.pushState(null, null, '/recipes/' + data['name'] + '/');
        $('div#view-recipe').load("{% url 'view-recipe' %}", data);
    });

});
</script>
{% endblock script %}
