{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="modal fade" id="groceryList" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Grocery List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                {% for ingredient in recipe.Ingredients %}
                {% if forloop.counter0|divisibleby:2 %}
                    <li>{{ ingredient }}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Open in New Window</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-center">{{ recipe.RecipeName }}</h1>
    <div class="row recipe-image mb-4">
        <div class="col-8 push-2 text-center">
            <img class="img-fluid" src="{{ recipe.ImageSRC }}">
        </div>
    </div>
    <div class="row">
        <div class="col-6 ingredients">
            <h4>Ingredients</h4>
            <ul>
            {% for ingredient in recipe.Ingredients %}
                <li>
                    {% if forloop.counter0|divisibleby:3 %}
                        <img class="ingredient-indicator alert-icon" src="{% static 'icons/warning.svg' %}" width="25px">
                    {% elif forloop.counter0|divisibleby:2 %}
                        <img class="ingredient-indicator cross" src="{% static 'icons/cross.svg' %}" width="35px">
                    {% else %}
                        <img class="ingredient-indicator checkmark" src="{% static 'icons/checkmark.svg' %}" width="25px">
                    {% endif %}
                    {{ ingredient }}
                </li>
            {% endfor %}
            </ul>
            <div class="text-center">
                <span class="mr-4">
                    <img src="{% static 'icons/checkmark.svg' %}" width="25px">
                    In your pantry
                </span>
                <span class="mr-4">
                    <img src="{% static 'icons/warning.svg' %}" width="25px">
                    Running low / expiring soon
                </span>
                <span class="mr-4">
                    <img id="cross-label" src="{% static 'icons/cross.svg' %}" width="35px">
                    Missing
                </span>
            </div>
            <div class="text-center">
                <button class="btn submit mt-1" data-toggle="modal" data-target="#groceryList">Generate Grocery List</button>
            </div>
        </div>
        <div class="col-6">
            <h4>Directions</h4>
            <ol>
            {% for direction in recipe.Directions %}
                <li class="direction"><span>{{ direction }}</span></li>
            {% endfor %}
            </ol>
        </div>
    </div>
    <div class="text-center">
        <form class="delete" action="{% url 'view_recipe' recipe.RecipeName %}" method="post">
            <button type="submit" class="btn submit">Delete Recipe</button>
        </form>
    </div>
</div>
{% endblock content %}
