{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">{{ recipe.RecipeName }}</h1>
    <div class="row">
        <div class="col-md-8 push-md-2 text-center">
            <img class="img-fluid" src="{{ recipe.ImageSRC }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ingredients">
            <h4>Ingredients</h4>
            <ul>
            {% for ingredient in recipe.Ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Directions</h4>
            <ol>
            {% for direction in recipe.Directions %}
                <li class="direction"><span>{{ direction }}</span></li>
            {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <form class="delete" action="{% url 'view_recipe' recipe.RecipeName %}" method="post">
            <button type="submit" class="btn submit">Delete Recipe</button>
        </form>
    </div>
</div>
{% endblock content %}
